@font-face {
  font-family: acumin-pro-wide;
  src: url(./../fonts/AcuminProWide-Bold.otf);
}

:root {
  --highlight: #58968E;
}

* {
  cursor: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #232e33;
  color: white;
  overflow-x: hidden !important;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 3 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 19px;
  }
}

#cur-circle, #cursor {
  position: fixed;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000000;
}

#cursor {
  height: 10px;
  width: 10px;
  border: 2px solid black;
}

#cur-circle {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  z-index: 11;
}

#cur-circle.hover {
  -webkit-transform: translate(-50%, -50%) scale(2.5);
          transform: translate(-50%, -50%) scale(2.5);
}

#mode {
  position: fixed;
  right: 0;
  top: 4.6rem;
  background-color: #8B86D3;
  opacity: 0.3;
  border: 3px solid white;
  border-radius: 1.5rem;
  padding: 0.3rem;
  height: 1.4rem;
  width: 1.4rem;
  overflow: hidden;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  z-index: 600;
}

#mode:hover {
  opacity: 1;
}

.moon {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  background-color: #8B86D3;
}

.sun {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  visibility: hidden;
}

#logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  text-decoration: none;
  padding-right: 5em;
  position: relative;
  top: 1.3rem;
  left: 1rem;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#navbar {
  z-index: 200;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 4.6rem;
  width: 97vw;
  font-weight: bold;
  background: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  padding-right: 10rem;
}

#navbar ul {
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

#navbar ul li a {
  text-align: center;
  height: 100%;
  color: white;
  text-decoration: none;
  padding-right: 1.5rem;
  position: relative;
  -webkit-transition: all ease-in-out 550ms;
  transition: all ease-in-out 550ms;
}

#navbar ul li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--highlight);
  bottom: -1em;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

#navbar ul li a:hover::after {
  width: 60%;
}

#navbar ul li a:hover {
  color: var(--highlight);
}

#navbar ul button {
  background-color: #192024;
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  position: relative;
  right: 0.3rem;
  border: 2px solid green;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 1rem;
  padding-top: 0.6rem;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

#navbar ul button:hover {
  background-color: #5eff00;
  border-color: #5eff00;
  color: black;
}

#list-icon {
  float: right;
  position: relative;
  top: 1rem;
  right: 2rem;
  height: 2.6rem;
  width: 2.6rem;
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #44318D;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-animation: popnav 600ms ease-out forwards;
          animation: popnav 600ms ease-out forwards;
}

.modal-content ol {
  list-style-type: none;
  text-align: center;
  padding: 0 1em;
}

.modal-content ol li {
  text-align: center;
  margin-bottom: 1rem;
}

.modal-content ol li a {
  text-align: left;
  color: #DEF1F1;
  text-decoration: none;
  position: relative;
  -webkit-transition: all ease-in-out 550ms;
  transition: all ease-in-out 550ms;
}

.modal-content ol button {
  margin-top: 0.6rem;
  background-color: #2A1B3C;
  color: #DEF1F1;
  text-decoration: none;
  padding: 0.7rem;
  position: relative;
  border: 2px solid green;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 1rem;
  padding-top: 0.6rem;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

.modal-content ol li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--highlight);
  bottom: -1em;
  -webkit-transition: all ease-out 150ms;
  transition: all ease-out 150ms;
}

.modal-content ol li a:hover {
  color: var(--highlight);
}

.modal-content ol button:hover {
  background-color: #5eff00;
  border-color: #5eff00;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  position: relative;
  right: 0.5rem;
  bottom: 0.1rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes popnav {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes popnav {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@media only screen and (max-width: 1000px) {
  #navbar ul {
    display: none;
  }
  #list-icon {
    display: inline;
  }
}

.wrap {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.svg {
  stroke: #7ceaa4;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 15%;
  -webkit-animation: raise1 17s linear infinite;
          animation: raise1 17s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(-0.3) rotate(222deg);
          transform: scale(-0.3) rotate(222deg);
  z-index: -6;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(84deg);
            transform: scale(-0.3) rotate(84deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(84deg);
            transform: scale(-0.3) rotate(84deg);
  }
}

.svg:nth-child(2) {
  left: -7%;
  -webkit-animation: raise2 14s linear infinite;
          animation: raise2 14s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0) rotate(310deg);
          transform: scale(0) rotate(310deg);
  z-index: -5;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(59deg);
            transform: scale(0) rotate(59deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(59deg);
            transform: scale(0) rotate(59deg);
  }
}

.svg:nth-child(3) {
  left: 26%;
  -webkit-animation: raise3 9s linear infinite;
          animation: raise3 9s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: scale(0.3) rotate(63deg);
          transform: scale(0.3) rotate(63deg);
  z-index: -4;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(269deg);
            transform: scale(0.3) rotate(269deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(269deg);
            transform: scale(0.3) rotate(269deg);
  }
}

.svg:nth-child(4) {
  left: 64%;
  -webkit-animation: raise4 14s linear infinite;
          animation: raise4 14s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.6) rotate(141deg);
          transform: scale(0.6) rotate(141deg);
  z-index: -3;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(80deg);
            transform: scale(0.6) rotate(80deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(80deg);
            transform: scale(0.6) rotate(80deg);
  }
}

.svg:nth-child(5) {
  left: -2%;
  -webkit-animation: raise5 14s linear infinite;
          animation: raise5 14s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(0.9) rotate(60deg);
          transform: scale(0.9) rotate(60deg);
  z-index: -2;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(338deg);
            transform: scale(0.9) rotate(338deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(338deg);
            transform: scale(0.9) rotate(338deg);
  }
}

.svg:nth-child(6) {
  left: 44%;
  -webkit-animation: raise6 18s linear infinite;
          animation: raise6 18s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.2) rotate(105deg);
          transform: scale(1.2) rotate(105deg);
  z-index: -1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(251deg);
            transform: scale(1.2) rotate(251deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(251deg);
            transform: scale(1.2) rotate(251deg);
  }
}

.svg:nth-child(7) {
  left: 65%;
  -webkit-animation: raise7 19s linear infinite;
          animation: raise7 19s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.5) rotate(50deg);
          transform: scale(1.5) rotate(50deg);
  z-index: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(313deg);
            transform: scale(1.5) rotate(313deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(313deg);
            transform: scale(1.5) rotate(313deg);
  }
}

.svg:nth-child(8) {
  left: 55%;
  -webkit-animation: raise8 18s linear infinite;
          animation: raise8 18s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.8) rotate(242deg);
          transform: scale(1.8) rotate(242deg);
  z-index: 1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(54deg);
            transform: scale(1.8) rotate(54deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(54deg);
            transform: scale(1.8) rotate(54deg);
  }
}

.svg:nth-child(9) {
  left: 46%;
  -webkit-animation: raise9 12s linear infinite;
          animation: raise9 12s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(2.1) rotate(318deg);
          transform: scale(2.1) rotate(318deg);
  z-index: 2;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(120deg);
            transform: scale(2.1) rotate(120deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(120deg);
            transform: scale(2.1) rotate(120deg);
  }
}

.svg:nth-child(10) {
  left: 77%;
  -webkit-animation: raise10 20s linear infinite;
          animation: raise10 20s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.4) rotate(141deg);
          transform: scale(2.4) rotate(141deg);
  z-index: 3;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(187deg);
            transform: scale(2.4) rotate(187deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(187deg);
            transform: scale(2.4) rotate(187deg);
  }
}

#Home {
  background: #192024;
  z-index: -10000;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 110vh;
  position: relative;
  top: -1em;
  overflow: hidden;
}

#Home #text-anim {
  margin: 0;
  padding: 0;
  border-right: 2px solid white;
  overflow: hidden;
  width: 7em;
  width: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-animation: home1 6s ease-out forwards;
          animation: home1 6s ease-out forwards;
}

#Home #text-anim span {
  font-family: acumin-pro-wide,sans-serif;
  height: 1.5em;
  margin: 0;
  padding: 0;
  line-height: 4rem;
  font-weight: 600;
  font-style: normal;
  overflow: hidden;
}

#Home #text-anim span {
  font-size: 35px;
}

@media screen and (min-width: 320px) {
  #Home #text-anim span {
    font-size: calc(35px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  #Home #text-anim span {
    font-size: 40px;
  }
}

#Home img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -45%);
          transform: translate(-50%, -45%);
  z-index: -100;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes home1 {
  0% {
    -webkit-transform: scaleX(-1) rotate(90deg);
            transform: scaleX(-1) rotate(90deg);
  }
  19% {
    -webkit-transform: scaleX(1) rotate(0deg);
            transform: scaleX(1) rotate(0deg);
  }
  20% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 4rem;
  }
  51% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  53% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  56% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  59% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  63% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  64% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 4rem;
  }
  65% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  70% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 0;
  }
  100% {
    width: 7em;
  }
}

@keyframes home1 {
  0% {
    -webkit-transform: scaleX(-1) rotate(90deg);
            transform: scaleX(-1) rotate(90deg);
  }
  19% {
    -webkit-transform: scaleX(1) rotate(0deg);
            transform: scaleX(1) rotate(0deg);
  }
  20% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 4rem;
  }
  51% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  53% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  56% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  59% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  63% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  64% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 4rem;
  }
  65% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  70% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 0;
  }
  100% {
    width: 7em;
  }
}

#big_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden !important;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

#circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background: #8a2387;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#8a2387), color-stop(#e94057), to(#f27121));
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

#text {
  color: black;
  position: absolute;
  top: 130vh;
  opacity: 0;
  width: 100%;
  text-align: center;
  -webkit-transition: all 2000ms ease-out;
  transition: all 2000ms ease-out;
  font-family: 'Bebas Neue', cursive;
  margin-left: 1vw;
  margin-right: 1vw;
}

#text {
  font-size: 40px;
}

@media screen and (min-width: 320px) {
  #text {
    font-size: calc(40px + 30 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  #text {
    font-size: 70px;
  }
}

#Services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  margin-bottom: 10rem;
  position: relative;
}

#Services #up1 {
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  margin-right: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#Services img {
  position: -webkit-sticky;
  position: sticky;
  top: 4.6rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -100;
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

#Services .service-head {
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'KoHo', cursive;
  color: #232E33;
  text-shadow: 0px 0px 0.060em #fff, 0.01rem 0px 0.040rem red, 0px 0.01px 0.040rem green, 0.01rem 0.01rem 0.040rem blue;
  letter-spacing: 0.15rem;
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
  margin: 0;
  position: relative;
  top: -4.4rem;
  z-index: -10;
  opacity: 0.7;
}

#Services .service-topic {
  position: relative;
  top: -0.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: 'Sniglet';
  font-size: 1.3rem;
  margin: 0;
  padding: 1rem 2rem 0.2rem 2rem;
  color: #fbff00;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#Services .service-topic::after {
  content: '';
  height: 0.2rem;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #ed8034), color-stop(#2184cd), to(#2184cd));
  background: linear-gradient(to right, #ed8034 30%, #2184cd, #2184cd);
}

#Services .a1 {
  padding: 0px;
  text-align: center;
  width: 70vmin;
  height: 70vmin;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 4rem;
  margin-right: 1rem;
  top: 7rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px -5px 10px #232e33;
          box-shadow: 0px -5px 10px #232e33;
}

#Services .a1 p {
  font-family: 'Londrina Solid', cursive;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: yellowgreen;
}

.carousel {
  width: auto;
  overflow: hidden;
  cursor: none !important;
}

#lightslider {
  width: auto;
  margin-top: 3.2em;
  cursor: none !important;
}

#customers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: 'Sniglet', cursive;
  letter-spacing: 0.15rem;
  text-align: center;
  padding: 0.7em 1.5em 0.7em 0.5em;
  font-size: 2em;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  float: left;
}

#lightslider p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0px 3rem 0px;
}

#About #about1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#About #about2 {
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid white;
  width: 80vw;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#About #about3 {
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid white;
  width: 80vw;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

footer {
  margin-top: 5rem;
  padding: 3rem 0px 3rem 0px;
  background-color: #192024;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}

footer div {
  margin: 1rem 4rem 1rem 4rem;
  text-align: center;
}

footer img {
  width: 13rem;
  height: 10rem;
}

@media only screen and (max-width: 900px) {
  * {
    cursor: default;
  }
  footer {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .cur-circle, .cursor {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  footer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

hr {
  padding: 0px;
  width: 40vw;
  height: 0.1rem;
  background-color: chartreuse;
}
/*# sourceMappingURL=home.css.map */