@font-face {
  font-family: acumin-pro-wide;
  src: url(./../fonts/AcuminProWide-Bold.otf);
}

:root {
  --highlight: #58968E;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #232e33;
  color: white;
  overflow-x: hidden;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 3 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 19px;
  }
}

#mode {
  position: fixed;
  right: 0;
  top: 4.6rem;
  background-color: #8B86D3;
  opacity: 0.3;
  border: 3px solid white;
  border-radius: 1.5rem;
  padding: 0.3rem;
  height: 1.4rem;
  width: 1.4rem;
  overflow: hidden;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#mode:hover {
  opacity: 1;
}

.moon {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  background-color: #8B86D3;
}

.sun {
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
  visibility: hidden;
}

#logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.5rem;
  text-decoration: none;
  padding-right: 5em;
  position: relative;
  top: 1.3rem;
  left: 1rem;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#navbar {
  z-index: 10000000;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 4.6rem;
  width: 100%;
  font-weight: bold;
  background-color: #192024;
}

#navbar ul {
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  padding-right: 1.5rem;
  position: relative;
  -webkit-transition: all ease-in-out 550ms;
  transition: all ease-in-out 550ms;
}

#navbar ul li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--highlight);
  bottom: -1em;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

#navbar ul li a:hover::after {
  width: 60%;
}

#navbar ul li a:hover {
  color: var(--highlight);
}

#navbar ul button {
  background-color: #192024;
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  position: relative;
  right: 0.3rem;
  border: 2px solid green;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 1rem;
  padding-top: 0.6rem;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

#navbar ul button:hover {
  background-color: #5eff00;
  border-color: #5eff00;
  color: black;
}

#list-icon {
  float: right;
  position: relative;
  top: 1rem;
  right: 2rem;
  height: 2.6rem;
  width: 2.6rem;
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #44318D;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-animation: popnav 600ms ease-out forwards;
          animation: popnav 600ms ease-out forwards;
}

.modal-content ol {
  list-style-type: none;
  text-align: center;
  padding: 0 1em;
}

.modal-content ol li {
  text-align: center;
  margin-bottom: 1rem;
}

.modal-content ol li a {
  text-align: left;
  color: #DEF1F1;
  text-decoration: none;
  position: relative;
  -webkit-transition: all ease-in-out 550ms;
  transition: all ease-in-out 550ms;
}

.modal-content ol button {
  margin-top: 0.6rem;
  background-color: #2A1B3C;
  color: #DEF1F1;
  text-decoration: none;
  padding: 0.7rem;
  position: relative;
  border: 2px solid green;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 1rem;
  padding-top: 0.6rem;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

.modal-content ol li a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--highlight);
  bottom: -1em;
  -webkit-transition: all ease-out 150ms;
  transition: all ease-out 150ms;
}

.modal-content ol li a:hover {
  color: var(--highlight);
}

.modal-content ol button:hover {
  background-color: #5eff00;
  border-color: #5eff00;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  position: relative;
  right: 0.5rem;
  bottom: 0.1rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes popnav {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes popnav {
  from {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@media only screen and (max-width: 1000px) {
  #navbar ul {
    display: none;
  }
  #list-icon {
    display: inline;
  }
}

.wrap {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.svg {
  stroke: #7ceaa4;
  position: absolute;
  bottom: -100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 55%;
  -webkit-animation: raise1 19s linear infinite;
          animation: raise1 19s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(-0.3) rotate(342deg);
          transform: scale(-0.3) rotate(342deg);
  z-index: -6;
  -webkit-filter: blur(-5px);
          filter: blur(-5px);
}

@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(109deg);
            transform: scale(-0.3) rotate(109deg);
  }
}

@keyframes raise1 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(-0.3) rotate(109deg);
            transform: scale(-0.3) rotate(109deg);
  }
}

.svg:nth-child(2) {
  left: 45%;
  -webkit-animation: raise2 12s linear infinite;
          animation: raise2 12s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(0) rotate(258deg);
          transform: scale(0) rotate(258deg);
  z-index: -5;
  -webkit-filter: blur(-4px);
          filter: blur(-4px);
}

@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(10deg);
            transform: scale(0) rotate(10deg);
  }
}

@keyframes raise2 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0) rotate(10deg);
            transform: scale(0) rotate(10deg);
  }
}

.svg:nth-child(3) {
  left: 10%;
  -webkit-animation: raise3 17s linear infinite;
          animation: raise3 17s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.3) rotate(48deg);
          transform: scale(0.3) rotate(48deg);
  z-index: -4;
  -webkit-filter: blur(-3px);
          filter: blur(-3px);
}

@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(248deg);
            transform: scale(0.3) rotate(248deg);
  }
}

@keyframes raise3 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.3) rotate(248deg);
            transform: scale(0.3) rotate(248deg);
  }
}

.svg:nth-child(4) {
  left: -3%;
  -webkit-animation: raise4 8s linear infinite;
          animation: raise4 8s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.6) rotate(26deg);
          transform: scale(0.6) rotate(26deg);
  z-index: -3;
  -webkit-filter: blur(-2px);
          filter: blur(-2px);
}

@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(312deg);
            transform: scale(0.6) rotate(312deg);
  }
}

@keyframes raise4 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.6) rotate(312deg);
            transform: scale(0.6) rotate(312deg);
  }
}

.svg:nth-child(5) {
  left: 71%;
  -webkit-animation: raise5 9s linear infinite;
          animation: raise5 9s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(0.9) rotate(305deg);
          transform: scale(0.9) rotate(305deg);
  z-index: -2;
  -webkit-filter: blur(-1px);
          filter: blur(-1px);
}

@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(297deg);
            transform: scale(0.9) rotate(297deg);
  }
}

@keyframes raise5 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(0.9) rotate(297deg);
            transform: scale(0.9) rotate(297deg);
  }
}

.svg:nth-child(6) {
  left: 30%;
  -webkit-animation: raise6 15s linear infinite;
          animation: raise6 15s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: scale(1.2) rotate(191deg);
          transform: scale(1.2) rotate(191deg);
  z-index: -1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(53deg);
            transform: scale(1.2) rotate(53deg);
  }
}

@keyframes raise6 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.2) rotate(53deg);
            transform: scale(1.2) rotate(53deg);
  }
}

.svg:nth-child(7) {
  left: 53%;
  -webkit-animation: raise7 13s linear infinite;
          animation: raise7 13s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(1.5) rotate(249deg);
          transform: scale(1.5) rotate(249deg);
  z-index: 0;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(57deg);
            transform: scale(1.5) rotate(57deg);
  }
}

@keyframes raise7 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.5) rotate(57deg);
            transform: scale(1.5) rotate(57deg);
  }
}

.svg:nth-child(8) {
  left: 94%;
  -webkit-animation: raise8 9s linear infinite;
          animation: raise8 9s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(1.8) rotate(96deg);
          transform: scale(1.8) rotate(96deg);
  z-index: 1;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(190deg);
            transform: scale(1.8) rotate(190deg);
  }
}

@keyframes raise8 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(1.8) rotate(190deg);
            transform: scale(1.8) rotate(190deg);
  }
}

.svg:nth-child(9) {
  left: 66%;
  -webkit-animation: raise9 10s linear infinite;
          animation: raise9 10s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: scale(2.1) rotate(45deg);
          transform: scale(2.1) rotate(45deg);
  z-index: 2;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(160deg);
            transform: scale(2.1) rotate(160deg);
  }
}

@keyframes raise9 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.1) rotate(160deg);
            transform: scale(2.1) rotate(160deg);
  }
}

.svg:nth-child(10) {
  left: 68%;
  -webkit-animation: raise10 8s linear infinite;
          animation: raise10 8s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: scale(2.4) rotate(211deg);
          transform: scale(2.4) rotate(211deg);
  z-index: 3;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(162deg);
            transform: scale(2.4) rotate(162deg);
  }
}

@keyframes raise10 {
  to {
    bottom: 150vh;
    -webkit-transform: scale(2.4) rotate(162deg);
            transform: scale(2.4) rotate(162deg);
  }
}

#Home {
  background: #192024;
  z-index: -10000;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -1em;
  overflow: hidden;
}

#Home #text-anim {
  margin: 0;
  padding: 0;
  border-right: 2px solid white;
  overflow: hidden;
  width: 7em;
  width: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-animation: home1 6s ease-out forwards;
          animation: home1 6s ease-out forwards;
}

#Home #text-anim h1 {
  font-family: acumin-pro-wide,sans-serif;
  height: 1.5em;
  margin: 0;
  padding: 0;
  line-height: 4rem;
  font-weight: 600;
  font-style: normal;
  overflow: hidden;
}

#Home #text-anim h1 {
  font-size: 35px;
}

@media screen and (min-width: 320px) {
  #Home #text-anim h1 {
    font-size: calc(35px + 5 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  #Home #text-anim h1 {
    font-size: 40px;
  }
}

@-webkit-keyframes home1 {
  0% {
    -webkit-transform: scaleX(-1) rotate(90deg);
            transform: scaleX(-1) rotate(90deg);
  }
  19% {
    -webkit-transform: scaleX(1) rotate(0deg);
            transform: scaleX(1) rotate(0deg);
  }
  20% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 4rem;
  }
  51% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  53% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  56% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  59% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  63% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  64% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 4rem;
  }
  65% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  70% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 0;
  }
  100% {
    width: 7em;
  }
}

@keyframes home1 {
  0% {
    -webkit-transform: scaleX(-1) rotate(90deg);
            transform: scaleX(-1) rotate(90deg);
  }
  19% {
    -webkit-transform: scaleX(1) rotate(0deg);
            transform: scaleX(1) rotate(0deg);
  }
  20% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  50% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 4rem;
  }
  51% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  53% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  56% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  59% {
    -webkit-transform: scaleX(-1) translateX(-10px);
            transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  63% {
    -webkit-transform: scaleX(-1) translateX(10px);
            transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  64% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 4rem;
  }
  65% {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
    width: 0;
  }
  70% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 0;
  }
  100% {
    width: 7em;
  }
}

#Some1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

#circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background: #8a2387;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#8a2387), color-stop(#e94057), to(#f27121));
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

#text {
  color: black;
  position: absolute;
  top: 130vh;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  text-align: center;
  -webkit-transition: all 2000ms ease-out;
  transition: all 2000ms ease-out;
  font-family: 'Bebas Neue', cursive;
  padding-left: 1rem;
  padding-right: 1rem;
}

#text {
  font-size: 40px;
}

@media screen and (min-width: 320px) {
  #text {
    font-size: calc(40px + 30 * ((100vw - 320px) / 880));
  }
}

@media screen and (min-width: 1200px) {
  #text {
    font-size: 70px;
  }
}

#Services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
}

#Services .service-head {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.15rem;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#Services .a1 {
  padding: 0px;
  text-align: center;
  width: 70vmin;
  height: 70vmin;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 4rem;
  top: 7rem;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0px -5px 10px #232e33;
          box-shadow: 0px -5px 10px #232e33;
}

#Services .a1 p {
  font-family: 'Londrina Solid', cursive;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

#Services .a1 p img {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#customers {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.15rem;
  font-size: 2rem;
  margin: 5rem auto 2rem auto;
  width: 50%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
  overflow-x: hidden;
}

.box {
  margin-left: 30px;
  width: 20rem;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.slide-img {
  height: 150px;
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0px 3rem 0px;
}

#About #about1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#About #about2 {
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid white;
  width: 80vw;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#About #about3 {
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid white;
  width: 80vw;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

footer {
  margin-top: 5rem;
  padding: 3rem 0px 3rem 0px;
  background-color: #192024;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}

footer div {
  margin: 1rem 4rem 1rem 4rem;
  text-align: center;
}

footer img {
  width: 13rem;
  height: 10rem;
}

@media only screen and (max-width: 900px) {
  footer {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media only screen and (max-width: 500px) {
  footer {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

hr {
  padding: 0px;
  width: 40vw;
  height: 0.1rem;
  background-color: chartreuse;
}
/*# sourceMappingURL=home.css.map */