// import font
@font-face {
  font-family: acumin-pro-wide;
  src: url(./../fonts/AcuminProWide-Bold.otf);
}


// RESPONSIVE FONT
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 19px;


:root {
    --highlight: #58968E;
  }
* {
  cursor: none;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding:0px;
  background-color: #232e33;
  color: white;
  // height: 4500px;
  overflow-x: hidden;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

// 
#cur-circle,#cursor {
  position: fixed;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 300;
}
#cursor {
  height: 10px;
  width: 10px;
  // z-index: 10;
}

#cur-circle {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  z-index: 11;
  // transition: left 0.25s ease-out, top 0.25s ease-out, transform 0.25s linear;
}
#cur-circle.hover {
  transform: translate(-50%, -50%) scale(2.5);
  animation: liquid 2.5s linear infinite;
}
@keyframes liquid {

  0%,
     100% {
         border-radius: 28% 72% 46% 54% / 22% 50% 50% 78%;
     }

     25% {
         border-radius: 73% 27% 41% 59% / 49% 20% 80% 51%;
     }

     50% {
         border-radius: 47% 53% 28% 72% / 49% 76% 24% 51%;
     }

     75% {
         border-radius: 48% 52% 68% 32% / 78% 54% 46% 22%;
     }
 }
// 


// Dark/Light Mode button
  #mode{
    position: fixed;
    right:0;
    top:4.6rem;
    // background-color: #0584C3;
    background-color: #8B86D3;
    opacity: 0.3;
    border: 3px solid white;
    border-radius: 1.5rem;
    padding:0.3rem;
    height: 1.4rem;
    width: 1.4rem;
    overflow: hidden;
    transition: all 300ms ease-out;
  }
  #mode:hover{
    opacity: 1;
  }

  .moon{
    // transition: all 500ms ease-out;
    // transform: translateY(-2rem);
    // visibility: hidden;
    transition: all 500ms ease-out;
    background-color: #8B86D3;
  }
  .sun{
    // transition: all 500ms ease-out;
    // background-color: #0584C3;
    transition: all 500ms ease-out;
    transform: translateY(2rem);
    visibility: hidden;
  }

// NAVBAR
  #logo{
    display: inline-flex;
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 5em;
    position: relative;
    top:1.3rem;
    // top: -2rem;
    left: 1rem;
    opacity: 0;
    transition: opacity 500ms ease-out;
  }

  #navbar {
    z-index: 200;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 4.6rem;
    width: 100%;
    font-weight: bold;
    background-color: #192024;
    
    ul {
      margin: 0;
      list-style-type: none;
      display: flex;
      float:right;
      justify-content: flex-end;
      align-items: center;
      padding: 1em 0;

      li a {
        // border: 1px solid white;
        text-align: center;
        height: 100%;
        color: white;
        text-decoration: none;
        padding-right: 1.5rem;
        position: relative;
        transition: all ease-in-out 550ms;
      }

      li a::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.4em;
        width: 0%;
        background-color: var(--highlight);
        bottom: -1em;
        transition: all ease-in-out 250ms;
      }

      li a:hover::after {
        width:60%;
      }
      
      li a:hover{
        color:var(--highlight);
      }
      button{
        background-color: #192024;
        color: white;
        text-decoration: none;
        padding: 0.7rem;
        position: relative;
        right: 0.3rem;
        border:2px solid green;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 1rem;
        padding-top: 0.6rem;
        transition: all ease-in-out 700ms;
      }
      button:hover{
        background-color: rgb(94, 255, 0);
        border-color: rgb(94, 255, 0);
        color:black;
        
      }
    }
  }


// POPUP MENU
  // 3 dash
  #list-icon{
    float:right;
    position: relative;
    top:1rem;
    right: 2rem;
    height: 2.6rem;
    width:2.6rem;
    display: none;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #44318D;
    margin: auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 1rem;
    overflow: hidden;
    animation: popnav 600ms ease-out forwards;
    
    ol{
      list-style-type: none;
      text-align: center;
      padding: 0 1em;

      li{
        text-align: center;
        margin-bottom: 1rem;
      }
      li a {
        text-align: left;
        color: #DEF1F1;
        text-decoration: none;
        position: relative;
        transition: all ease-in-out 550ms;
      }
      button{
        margin-top: 0.6rem;
        background-color: #2A1B3C;
        color: #DEF1F1;
        text-decoration: none;
        padding: 0.7rem;
        position: relative;
        border:2px solid green;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 1rem;
        padding-top: 0.6rem;
        transition: all ease-in-out 700ms;
      }
      li a::after {
        content: "";
        position: absolute;
        display: block;
        height: 0.4em;
        width: 0%;
        background-color: var(--highlight);
        bottom: -1em;
        transition: all ease-out 150ms;
      }
      li a:hover{
        color:var(--highlight);
      }

      button:hover{
        background-color: rgb(94, 255, 0);
        border-color: rgb(94, 255, 0);
        color:black;
        
      }
    }

  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    position: relative;
    right: 0.5rem;
    bottom: 0.1rem;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes popnav {
    from{
      transform: translateY(-300px);
    }
    to{
      transform: translateY(100px);
    }
  }
//POPUP MENU END

// RESPONSIVE
@media only screen and (max-width: 1000px) {
  #navbar ul{
    display: none;
  }
  #list-icon{
    display: inline;
  }
  
}
// 
$green: #7ceaa4;
$purple: #3b3d54;

.wrap{
	perspective-origin: 50% 50%;
}
.svg{
	stroke:$green;
	position:absolute;
	bottom: -100vh;
	transform-style: preserve-3d;
}

$total: 10;
@for $i from 1 through $total {
	$scale:random(2) - .4;
	
	.svg:nth-child(#{$i}){
		left:random(120) * 1% - 20;
		animation: raise#{$i} 6 + random(15) +s linear infinite;
		animation-delay:random(5) - 5 + s;
		transform: scale(.3 * $i - .6) rotate(random(360) + deg);
		z-index: $i - 7;
		filter: blur($i - 6 + px);

	  @keyframes raise#{$i} {
		  to{
			 bottom:150vh;
			 transform: scale(.3 * $i - .6) rotate(random(360) + deg);
			}
		}
	}
}
// 

// HOME
#Home{
  // border: 1px solid white;
  background: #192024;
  z-index: -10000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  // padding-top: 1rem;
  // padding-bottom: 10rem;
  position: relative;
  top: -1em;
  overflow: hidden;

  #text-anim{
    margin: 0;
    padding: 0;
    border-right:2px solid white ;
    overflow: hidden;
    width: 7em;
    width: 0px;
    transition: all 300ms ease-out;
    animation: home1 6s ease-out forwards;

    span{
      font-family: acumin-pro-wide,sans-serif;
      @include fluid-type($min_width, $max_width, 35px, 40px);
      height: 1.5em;
      margin: 0;
      padding: 0;
      line-height: 4rem;
      font-weight: 600;
      font-style: normal;
      // position:sticky;
      overflow:hidden;
      
    }
  }
}

@keyframes home1 {
  0%{
    transform: scaleX(-1) rotate(90deg);
  }
  19%{ 
    transform: scaleX(1) rotate(0deg);
  }
  20%{
    transform: scaleX(-1);
    width: 0;
  }
  50%{
    transform: scaleX(-1);
    width: 4rem;
  }
  // animation jiggle
  51%{
    transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  53%{
    transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  56%{
    transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  59%{
    transform: scaleX(-1) translateX(-10px);
    width: 4rem;
  }
  // animation jiggle end
  63%{
    transform: scaleX(-1) translateX(10px);
    width: 4rem;
  }
  64%{
    transform: translateX(0px);
    width: 4rem;
  }
  65%{
    transform: scaleX(-1);
    width: 0;
  }
  70%{
    transform: scaleX(1);
    width: 0;
  }
  // 99%{
  //   border-left: 0;
  // }
  100%{
    // border-left: 2px white solid;
    width: 7em;
  }
}


// circle
#Some1{
  // border: 1px solid white;
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

#circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  // background: rgb(115,231,212);
  // background: radial-gradient(circle, rgba(115,231,212,1) 1%, rgba(0,81,255,1) 100%);
  
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8a2387, #e94057, #f27121); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  
    // background: #FEAC5E;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  transition: all 600ms ease-out;
}
#text{
  color: black;
  position:absolute;
  top: 130vh;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  text-align: center;
  transition: all 2000ms ease-out;
  font-family: 'Bebas Neue', cursive;
  @include fluid-type($min_width, $max_width, 40px, 70px);
  padding-left: 1rem;
  padding-right: 1rem;
  // animation: textup 1s ease-out forwards;
}
// @keyframes textup {
//   from{
//     transform: translateY(5rem);
//   }to{
//     transform: translateY(0rem);
//   }
// }

// Service  sliders

#Services{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  // padding-bottom: 10rem;
  // border: 1px solid red;
  // display: sticky;
  // top: 4.6rem;
  

  .service-head{
    // border:1px solid white;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.15rem;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
    transform: translateY(30px);
    opacity: 0;
    // position: sticky;
    // top: 4.6rem;
    transition: all 1s ease-out;
    

  }

  .a1{
    padding: 0px;
    text-align: center;
    // border:1px solid white;
    width: 70vmin;
    height: 70vmin;
    overflow: hidden;
    // $zindex:$zindex+10;
    // background-image: url("./../img/blob.png");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // transform: rotate(30deg);
    // background-color: cadetblue;
    // background: rgb(255,242,118);
    // background: radial-gradient(circle, rgba(255,242,118,1) 0%, rgba(173,197,227,1) 100%);
    
    // background: #667db6;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // background: #000428;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: sticky;
    margin-bottom: 4rem;
    top: 7rem;
    border-radius: 1.5rem;
    box-shadow: 0px -5px 10px #232e33;
    

    p{
      font-family: 'Londrina Solid', cursive;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      height: 100%;
      width: 100%;
      // z-index: $zindex;
      // z-index: counter(my-sec-counter);
      // border: 1px solid white;
      // border-radius: 5rem;
      img{
        position: absolute;
        top:0px;
        height: 100%;
        width: 100%;
        z-index: -100;
        // transform: rotate(random(10)+deg);
      }
    }
    // span{
    //   background-color: #232e33;
    //   position: relative;
    //   display: block;
    //   height: 4rem;
    //   width: 70vmin;
    //   // margin-top: 0.3rem;
    //   // z-index: 100;
    // }
  }
  // .a1:last-child{
  //   margin-bottom: 3em;
  //   // top: 10rem;
  //   // z-index: 10;
  // }
}

#customers{
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 0.15rem;
  font-size: 2rem;
  margin: 5rem auto 2rem auto;
  width: 50%;
  // border: 1px solid white;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-out;
}
#slide{
  // width: 100vw;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 5rem;
  margin-bottom: 10rem;
  overflow-x: hidden;
}
.box{
  margin-left: 30px;
  width: 20rem;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden; 
}

.slide-img{
  height: 150px;
  position: relative;
}

.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
#About{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0px 3rem 0px;
  #about1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
    // margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease-out;
  }
  #about2{
    // padding: 2rem 0px 2rem 0px;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-align: center;
    // border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 80vw;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease-out;

  }
  #about3{
    // padding: 2rem 0px 2rem 0px;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-align: center;
    border-top: 1px solid white;
    // border-bottom: 1px solid white;
    width: 80vw;
    height: 0px;
    overflow: hidden;
    transition: all 1s ease-out;
  }
}

footer{
  margin-top: 5rem;
  padding: 3rem 0px 3rem 0px;
  background-color: #192024;
  display: grid;
  grid-template-columns: repeat(3,33%);
  div{
    margin: 1rem 4rem 1rem 4rem;
    text-align: center;
  }
  img{
    width: 13rem;
    height: 10rem ;
  }
}
@media only screen and (max-width: 900px) {
  *{
    cursor: default;
  }
  footer{
    grid-template-columns: repeat(2,50%);
  }
  .cur-circle,.cursor{
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  footer{
    grid-template-columns: auto;
  }
}

hr{
  // margin: 0px;
  padding: 0px;
  width: 40vw;
  height: 0.1rem;
  background-color: chartreuse;
}


